/*Slider css for the revolution slider*/



.imed-sl1 img{max-width: 100%;}

.bluebg-t1{
    font-size: 37px !important; 
    color: #fff; 
    font-family: 'Open Sans', 
        sans-serif; font-weight: 500; 
    line-height: 40px !important;
}

.whitebg-t1{font-size: 37px !important; color: #28B473; font-family: 'Open Sans', sans-serif; font-weight: 300; line-height: 40px !important;}

.bluebg-t2,.whitebg-t2{font-size: 27px !important; font-weight:bold; color: #231f20; font-family: 'Open Sans', sans-serif;}

.bluebg-t3{font-size: 13px !important; color: #fff; font-family: 'Open Sans', sans-serif;}

.whitebg-t3{font-size: 13px !important; color: #999999; font-family: 'Open Sans', sans-serif;}

.s1-but a{
    font-weight:bold; 
    color: #fff; 
    padding: 15px 25px; 
    background-color: #F8B73F;
}

.s1-but a:hover{color: #fff; background: #AC791A}

.slide-div{
    background-color: #404040;
    background-color: rgba(64,64,64,0.5);
    margin-left: 50px;
    opacity: 0.5;
}
.slide-div-p {
    font-size: 28px;
    color: #fff;
    font-family: 'Noto Sans',sans-serif;
    font-weight: 750;
    line-height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
}

.slide-div-p span{
    color: #F8B73F;
}