@import "../../general.css";
body {
	background-color: #f6f7f7;
	background-image: url("background.png");
	background-repeat: repeat;
}


/*Adjusments*/


/*End Adjusments*/

.i-logo {
	width: 20em;
	display: initial !important;
}

#header {
	background-color: #232e67 !important;
}

.patient-logo {
	width: 20em;
}

.brand {
	background-color: #232e67;
}

.confirm {
	background-color: #232e67 !important;
}

.lv-message .lv-item:not(.right) .ms-item {
	background-color: #232e67 !important;
}

#brand-header {
	background-color: #232e67;
	padding: 40px 0
}

.bgm-yellow {
	background-color: #232e67 !important;
	border-radius: 10px;
	color: #FFF;
}

.btn-login {
	/* background-color: #ed1c24;*/
	background-color: #232e67;
	border-radius: 10px;
	color: #FFF;
	border-bottom: 5px solid #232e67;
	font-weight: bold;
}

.header-inner {
	padding: 1px 0;
}

.btn-action,
.btn-action-sm {
	background-color: #232e67 !important;
	border-radius: 10px;
	color: #FFF;
	border-bottom: 5px solid #232e67;
	font-weight: bold;
}

.btn-default,
.btn-default:focus,
.btn-default:target,
.btn-default:visited,
.btn-default:active {
	background-color: #232e67 !important;
	border-radius: 10px;
	color: #FFF !important;
	border-bottom: 5px solid #232e67;
	font-weight: bold;
}

.btn-default:hover {
	background-color: white !important;
	border-radius: 10px;
	color: #232e67 !important;
	font-weight: bold;
}

.btn-danger {
	background-color: #FFF !important;
	border-radius: 10px;
	color: #232e67 !important;
	border-bottom: 5px solid #FFF;
	font-weight: bold;
}

.form-control {
	background-color: #FFF !important;
}

.btn-login:hover {
	color: #FFF;
}

.lcb-form {
	margin: 0;
	padding: 0 !important;
	border: 0;
	box-shadow: none;
	background-color: transparent !important;
}

.lc-block:not(.lc-block-alt) .btn-login {
	top: 0;
	margin-top: 0px;
	right: inherit;
}

.lc-block {
	margin-top: 50px;
}

.login-content {
	background-color: transparent;
	/*background-image: url("background.png");
	background-repeat: repeat;*/
}


/**Login alignmnent*/

.lc-block {
	padding: 0px 0px 0px 0px;
	max-width: 600px;
	width: 75%;
}

#username {
	font-size: 35px;
}

@media only screen and (max-width: 500px) {
	.lc-block {
		vertical-align: top;
	}

	.adsMargin {
		margin-left: 0%;
	}
}

@media only screen and (min-width: 500px) {
	.adsMargin {
		margin-left: 4.15%;
	}
}

.page-view {
	padding-top: 3vh;
}

@media only screen and (min-width: 1200px) {
	.btn-action-touch {
		min-height: 160px;
		min-width: 260px;
	}
}

.card-trans {
	background: transparent;
	box-shadow: 0px 0px 0px 0px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
	margin-top: 1px;
	margin-bottom: 5px;
	color: #000;
}

#patient-logo {
	max-height: 60px;
}

#menu-icon {
	color: #FFF;
}

#patient-logo-lg {
	max-width: 140px;
}

#messages-main .ms-block {
	padding: 23px 10px 0;
}

.panel-primary {
	border-color: #ec1c24;
}

input.form-control {
	border-color: #232e67;
}

.form-control:focus {
	border-color: #232e67;
}

.input-lg-login {
	height: 60px;
	line-height: 1.3333333;
}


.h2 {
	color: #232e67;
}

#password_text {
	font-size: 35px;
}

.alert-danger {
	background-color: #232e67;
	color: #fff;
	font-size: 20px;
}

#btn-mis-pacientes {
	background-color: pink !important;
}

.corporate {
	background-color: #232e67 !important;
}

.text-corporate {
	color: #232e67 !important;
}

.curved-borders {
	border-radius: 10px;
}

.pagination>.active>a,
md-ink-bar {
	background-color: #232e67 !important;
}

md-tabs .md-tab.md-active {
	color: #232e67 !important;
}

.message__text_wrap {
	padding: 6px;
	background-color: #232e67;
	color: white;
	border-radius: 6px;
	display: inline-block;
}

.message__text_me,
.message__timestamp_me {
	color: white;
}

.send_btn {
	color: #232e67 !important;
}

.seen {
	opacity: 1 !important;
}

::-webkit-scrollbar-thumb {
	background-color: #232e67 !important;
}

.preloader.pls-green .plc-path {
	stroke: #232e67 !important;
}

.carousel .carousel-indicators {
	background: transparent !important;
}

.carousel .carousel-indicators li {
	background: gray !important;
	height: 15px !important;
	border-radius: 50%;
	cursor: pointer;
}

.carousel .carousel-indicators li.active {
	background: #fff !important;
	height: 15px !important;
	width: 15px !important;
}

.radio .input-helper:after {
	background: #232e67 !important;
}

.checkbox .input-helper:after {
	border-bottom: 2px solid #232e67 !important;
	border-left: 2px solid #232e67 !important;
}

.md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator {
	background: #232e67 !important;
}

.md-datepicker-input-container.md-datepicker-focused {
	border-bottom-color: #232e67 !important;
}

.progress-bar-danger {
	background-color: #232e67 !important;
}

.titular {
	padding: 5px 10px;
	background-color: #232e67;
	color: white;
	border-radius: 100px;
}

.appointmentInputs {
	border-radius: 10px;
	border: 1px solid #232e67 !important;
}

.btn-action-sm-mirror {
	background-color: #FFF !important;
	border-radius: 10px;
	color: #232e67;
	border: 1px solid #232e67;
	font-weight: bold;
}

.fg-line:not([class*=has-]):after {
	background: #232e67;
}

/*CALENDAR*/
#calendar {
	height: 95% !important;
	box-shadow: none !important;
}
#calendar .fc-toolbar {
	height: auto;
	background-image: none !important;
}
.fc-toolbar-title {
	color: black !important;
	margin-right: 2.5rem !important;
}
#calendar .fc-toolbar:before {
	background: transparent !important;
	height: 0px;
}
.fc-toolbar h2 {
	font-weight: 500;
}
.fc-col-header-cell-cushion {
	color: white !important;
}
.modal-header {
	align-items: flex-start;
	justify-content: space-between;
	padding: 1rem;
	border-bottom: 1px solid #e9ecef;
	border-top-left-radius: 0.3rem;
	border-top-right-radius: 0.3rem;
}
.modal-title {
	margin-bottom: 0;
	line-height: 1.5;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.2;
	color: inherit;
	font-size: 24px;
	color: black;
}
.close {
	padding: 1rem;
	margin: -1rem -1rem -1rem auto;
	background-color: transparent;
	border: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	float: right;
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #ffffff;
	opacity: .5;
}
.corporate-color {
	color: var(--main-color);
	font-weight: 700;
	font-size: 16px;
}
select {
	cursor: pointer;
}
.form-input {
	display: block;
	width: 100%;
	height: 38px;
	padding: 0.375rem 0.75rem;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #ffffff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	box-shadow: inset 0 0 0 rgb(0 0 0 / 0%);
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.mt-4 {
	margin-top: 1.5rem;
}

.form-readonly {
	background-color: #ced4da !important;
	cursor: not-allowed;
}
.fc-event-title {
	color: black !important;
}
.fc-event-time {
	color: black !important;
}

.center-calendar {
	display: flex;
	justify-content: center;
}
#calendar .fc-header-toolbar {
	background-color: #F6F7F7 !important;
}

.fc-event-title {
	height: 4rem !important;
}

.fc-scrollgrid-liquid > tbody > tr:nth-child(1) .fc-scroller-harness {
	height: 1px !important;
}

.fc-scrollgrid-liquid > thead > tr > th > div {
	height: 1px !important;
}

.normal-fix .fc-timegrid-slots > table > tbody > tr {
	height: 4rem !important;
}
.ten .fc-timegrid-slots > table > tbody > tr {
	height: 6rem !important;
}

.more-than-ten .fc-timegrid-slots > table > tbody > tr {
	height: 12rem !important;
}

.max-size .fc-timegrid-slots > table > tbody > tr {
	height: 24rem !important;
}
/*.fc-scrollgrid-liquid > thead {
    display: none !important;
} */