<div class="modal-header">
    <h4 class="modal-title">{{ 'PROFILE_BTN_CHANGE_PASS' | translate }}</h4>
</div>
<div class="modal-body">
    <form name="frm">
        <div class="input-group m-b-20">
            <span class="input-group-addon"><i class="zmdi zmdi-key"></i></span>
            <div class="fg-line" id="newPasswordChange">
                <input type="password" class="form-control" placeholder="{{ 'ACTUAL_PASSWORD' | translate }}" name="currentPassword"
                       ng-model="changePassword.currentPassword" ng-maxlength="30" required>
            </div>
        </div>

        <div class="input-group m-b-20">
            <span class="input-group-addon"><i class="zmdi zmdi-key"></i></span>
            <div class="fg-line" id="newPassword">
                <input type="password" class="form-control" placeholder="{{ 'NEW_PASSWORD' | translate }}" name="newPassword"
                       ng-model="changePassword.newPassword" ng-maxlength="passwordMaxLength" ng-minlength="passwordMinLength" required
                       tooltip="{{'PASSWORD_DETAIL_MESSAGE' | translate}}" required ng-pattern="passwordPattern">
            </div>
            <div ng-password-strength="changePassword.newPassword" strength="newPasswordStrength" ng-show="false"></div> 
            <br/><br/>
            <uib-progressbar class="m-b-10" value="newPasswordStrength < 25 ? 25 : newPasswordStrength" 
                             type="{{newPasswordStrength < 50 ? 'danger' : newPasswordStrength < 75 ? 'warning' : 'success'}}"></uib-progressbar>
            <div class="has-error" ng-if="frm.newPassword.$dirty && frm.newPassword.$minError">
                <small class="help-block">{{ 'MODAL_CHANGE_PASS_MIN_6_CHAR' | translate }}</small>
            </div>
        </div>
        <div class="input-group m-b-20">
            <span class="input-group-addon"><i class="zmdi zmdi-key"></i></span>
            <div class="fg-line" id="newPasswordConfirm">
                <input type="password" class="form-control" placeholder="{{ 'NEW_PASSWORD' | translate }}" name="newPasswordConfirm"
                       ng-model="changePassword.newPasswordConfirm" ng-maxlength="passwordMaxLength" ng-minlength="passwordMinLength" required
                       tooltip="{{ 'PASSWORD_DETAIL_MESSAGE' | translate }}">
            </div>
            <div ng-password-strength="changePassword.newPasswordConfirm" strength="newPasswordConfirmStrength" ng-show="false"></div> 
            <br/><br/>
            <!--<uib-progressbar class="m-b-10" value="newPasswordConfirmStrength < 25 ? 25 : newPasswordConfirmStrength" 
                             type="{{newPasswordConfirmStrength < 50 ? 'danger' : newPasswordConfirmStrength < 75 ? 'warning' : 'success'}}"></uib-progressbar>-->
            
            <div class="has-error" ng-if="frm.newPasswordConfirm.$dirty && changePassword.newPassword !== changePassword.newPasswordConfirm">
                <small class="help-block">{{ 'MODAL_CHANGE_ERROR_NOT_MATCH' | translate }}</small>
            </div>
        </div>
        <div class="alert alert-error" ng-show="frm.newPassword.$error.pattern">
            {{ 'PASSWORD_DETAIL_MESSAGE' | translate }}
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-action-sm" ng-click="ok()" ng-disabled="frm.$invalid || changePassword.newPassword !== changePassword.newPasswordConfirm || newPasswordConfirmStrength < 50">{{ 'CAMBIAR' | translate }}</button>
    <button class="btn waves-effect btn-cancel" ng-click="cancel()">{{ 'CANCELAR' | translate }}</button>
</div>