<div class="container" ng-controller="patientCtrl" ng-cloak style="background-color: white;">
    <div class="" style="float: right; margin-bottom: 5px; margin-top: 10px; margin-right: 20px;">
        <button class="btn btn-default btn-cancel" ng-click="endDataAnalysis()">{{ 'END_SERVICE_VITAL_SIGNS' | translate}}</button>
    </div>
    <div class="" style="align-items: center;">
        <iframe src="{{ trustSrcurl(binah_url) }}" frameborder="0" style="width: 80vw;height: 33.7vw;"></iframe>
    </div>
    <div style="margin-bottom: 15px;">
    </div>
</div>