<div class="container" ng-controller="RestorePasswordCtrl" data-ng-init="getPatientInformation()">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12">
            <form name="restoreForm">
                <div class="card shadow" style="border-radius: 10px; padding: 20px 10px 20px 10px;">
                    <p style="margin-bottom: 0px; font-size: 18px;">{{ 'HOLA' | translate }} <b>{{name}}</b>, {{ 'CHANGE_PASSWORD_TO_CONTINUE' | translate }}</p>
                    <div class="card-body resumen-padding newPass" style="font-weight: bold; position: relative; margin-bottom: 1rem;">
                        <p class="corporate-color"  style="text-align: left; margin-bottom: 5px !important; margin-top: 30px;">{{ 'PASSWORD' | translate }}</p>
                        <div class="fg-line background-color" style="display: flex; justify-content: center; align-items: center;">
                            <input type="password" class="form-control" id="newpassword"
                            tabindex="0" ng-model="password" name="newpassword"
                            ng-trim="true" ng-pattern="passwordPattern" ng-maxlength="passwordMaxLength" ng-minlength="passwordMinLength" placeholder="{{ 'LABELPASS' | translate }}" required
                            style="width: 90% !important;">
                        </div>
                        <div class="tooltipWrapperErr" tabindex="-1" ng-click='tooglePassword()'>
                            <span class="nf-svg-icon">
                                <i class="{{eye}}" aria-hidden="true" style="color: #afacac; cursor: pointer;"></i>
                            </span>
                        </div>
                        <p ng-show="restoreForm.newpassword.$error.required && !restoreForm.newpassword.$pristine"
                        class="help-block">
                        {{ 'PASSWORD_REQUIRED' | translate }}</p>
                        <p ng-show="restoreForm.newpassword.$error.minlength && !restoreForm.newpassword.$error.pattern && !restoreForm.newpassword.$pristine"
                        class="help-block">
                        {{ 'PASSWORD_MIN_LENGTH' | translate }}
                        </p>
                        <p ng-show="restoreForm.newpassword.$error.maxlength && !restoreForm.newpassword.$pristine"
                        class="help-block">
                        {{ 'PASSWORD_MAX_LENGTH' | translate }}
                        </p>
                        <p ng-show="restoreForm.newpassword.$error.pattern"
                        class="help-block">
                        {{ 'PASSWORD_DETAIL_MESSAGE' | translate }}
                        </p>
                    </div>
                    <br/>
                    <div class="card-body resumen-padding" style="font-weight: bold;">
                        <p class="corporate-color"  style="text-align: left; margin-bottom: 5px !important;">{{ 'PASSWORD_CONFIRM' | translate }}</p>
                        <div class="fg-line background-color" style="display: flex; justify-content: center; align-items: center;">
                            <input type="password" class="form-control" id="confirmpassword" name="confirmpassword"
                            ng-model="confirmPassword" placeholder="{{ 'PASSWORD_CONFIRM' | translate }}" compare-to="password"
                            onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false"
                            autocomplete=off tabindex="0" required
                            style="width: 90% !important;" ng-maxlength="passwordMaxLength" ng-minlength="passwordMinLength">
                        </div>
                        <p ng-show="restoreForm.confirmpassword.$error.compareTo && !restoreForm.confirmpassword.$pristine"
                        class="help-block">{{ 'PASSWORD_MISMATCH' | translate }}</p>
                    </div>
                    <br/>
                    <p ng-show="showError && !errorUpdate"
                        class="help-block" style="font-weight: bold;">
                        {{ 'UNEXPECTED_ERROR' | translate }}
                    </p>

                    <p ng-show="showError && errorUpdate"
                        class="help-block" style="font-weight: bold;">
                        {{ 'ERROR_UPDATE_PASSWORD' | translate }}
                    </p>

                    <br/>
                    <button type="button" class="btn btn-default btn-block btn-flat" ng-disabled="restoreForm.$invalid || inProcess"
                    ng-click="restorePassword()">{{ 'RESTORE_PASSWORD' | translate }}   </button>
                </div>
            </form>
        </div>
    </div>
</div>
<style>
.newPass .tooltipWrapperErr {
    position: absolute;
    top: 30px;
    right: 20px;
}

.help-block{
    color: #ea3a3a !important;
}
</style>