<div class="container" ng-controller="ValidatorPasswordCtrl" data-ng-init="getPatientInformation()">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12">
            <p style="margin-bottom: 0px; font-size: 15px;">{{ 'HOLA' | translate }} <b>{{name}}</b>,</p>
            <p style="font-size: 15px;">{{ 'ADD_NEW_VALIDATOR' | translate }}</p>
        
            <p style="font-size: 15px;">{{ 'CONDITION_EMAIL' | translate }}</p>

            <form name="confirmForm" novalidate>
                <div class="card shadow" style="border-radius: 10px; padding: 20px 10px 20px 10px;">
                    
                    <br/>
                    
                    <div class="card-body resumen-padding newPass" style="font-weight: bold; position: relative; margin-bottom: 1rem;">
                        <p class="corporate-color"  style="text-align: left; margin-bottom: 5px !important;">{{ 'EMAIL' | translate }}</p>
                        <div class="fg-line background-color">
                            <input type="text" class="form-control" id="newemail"
                            tabindex="0" ng-model="email" name="newemail"
                            ng-trim="true" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" placeholder="{{ 'EMAIL' | translate }}" required>
                        </div>

                        <p ng-show="confirmForm.newemail.$error.required && !confirmForm.newemail.$pristine"
                        class="help-block">
                        {{ 'EMAIL_REQUIRED' | translate }}</p>
                        
                    </div>
                    <br/>
                    <div class="card-body resumen-padding" style="font-weight: bold;">
                        <p class="corporate-color"  style="text-align: left; margin-bottom: 5px !important;">{{ 'CONFIRMAR' | translate }} {{ 'EMAIL' | translate }}</p>
                        <div class="fg-line background-color">
                            <input type="text" class="form-control" id="confirmemail" name="confirmemail"
                            ng-model="confirmemail" placeholder="{{ 'CONFIRMAR' | translate }} {{ 'EMAIL' | translate }}" compare-to="email"
                            onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false"
                            autocomplete=off tabindex="0" required>
                        </div>
                        <p ng-show="confirmForm.confirmemail.$error.compareTo && !confirmForm.confirmemail.$pristine"
                        class="help-block">{{ 'EMAIL_MATCH' | translate }}</p>
                    </div>
                    <br/>

                    <!-- BODY PASSWORDS!!! -->

                    <div class="card-body resumen-padding newPass" style="font-weight: bold; position: relative; margin-bottom: 1rem;">
                        <p class="corporate-color"  style="text-align: left; margin-bottom: 5px !important;">{{ 'PASSWORD' | translate }}</p>
                        <div class="fg-line background-color">
                            <input type="password" class="form-control" id="newpassword"
                            tabindex="0" ng-model="password" name="newpassword" ng-change="validationInputPwdText(password)"
                            maxlength="30" minlength="6" required ng-trim="true" placeholder="{{ 'LABELPASS' | translate }}" required >
                        </div>
                        <div class="tooltipWrapperErr" tabindex="-1" ng-click='tooglePassword()'>
                            <span class="nf-svg-icon">
                                <i class="{{eye}}" aria-hidden="true" style="color: #afacac; cursor: pointer;"></i>
                            </span>
                        </div>
                        <br/>
                        <br/>
                        <div class="progress" style="height: 15px;">
                            <div id = "progressBar" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                
                            </div>
                        </div>

                        <br/>

                        <p ng-show="confirmForm.newpassword.$error.required && !confirmForm.newpassword.$pristine"
                        class="help-block">
                        {{ 'PASSWORD_REQUIRED' | translate }}.</p>
                        <p ng-show="confirmForm.newpassword.$error.minlength && !confirmForm.newpassword.$error.pattern && !confirmForm.newpassword.$pristine"
                        class="help-block">
                        {{ 'PASSWORD_MIN_LENGTH' | translate }}.
                        </p>
                        <p ng-show="confirmForm.newpassword.$error.maxlength && !confirmForm.newpassword.$pristine"
                        class="help-block">
                        {{ 'PASSWORD_MAX_LENGTH' | translate }}.
                        </p>
                        <p ng-show="!patternAccepted && !frmChangeEmail.passwordValidator.$pristine && corporateGDPR"
                        class="help-block">
                        {{ 'PASSWORD_SPEC' | translate }}.
                        </p>

                        
                        <p ng-show="alreadyExist"
                        class="help-block">
                        {{ 'EMAIL_ALREADY_EXIST' | translate }}.
                        </p>
                    </div>
                    

                    <br/>
                    <!-- BODY PASSWORDS!!! -->
                    <div>
                        <a ng-click="skipValidator()" href="#/pages/patient">{{ 'SKIP_VALIDATOR' | translate }}</a>
                    </div>
                    

                    <br/>

                    <button type="button" class="btn btn-default btn-block btn-flat" ng-disabled="confirmForm.$invalid || !patternAccepted"
                    ng-click="confirmValidator()">{{ 'CONFIRM_VALIDATOR' | translate }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<style>
.newPass .tooltipWrapperErr {
    position: absolute;
    top: 30px;
    right: 20px;
}

.help-block{
    color: #ea3a3a !important;
}
</style>