@import "../../general.css";
/*
#### BRAND: BAM ######
*/
body {
  background-color: #f6f7f7;
  background-image: url("background.png");
  background-repeat: repeat;
}


/*Adjusments*/


/*End Adjusments
Main color #26AD6E
*/

.i-logo {
	width: 20em;
	display: initial !important;
}

.btn-mi-cuenta-doctor
{
	background-color: #26AD6E !important;
}

#header{
	background-color: white  !important;
}

.patient-logo {
	width: 20em;
}

.brand{
	background-color: #E0292B;
}

#brand-header{
	background-color: #C81C22;
	padding: 40px 0
}

.bgm-yellow{
	background-color: #ed1c24 !important;
	border-radius: 10px;
	color: #FFF;
}
.btn-login{
	/* background-color: #ed1c24;*/
	background-color:#C81C22;
	border-radius: 10px;
	color: #FFF;
	border-bottom: 5px solid #C81C22;
	font-weight: bold;
}

.header-inner {
	padding: 1px 0;
}

.btn-action, .btn-action-sm {
	background-color: #26AD6E !important;
	border-radius: 10px;
	color: #FFF;
	border-bottom: 2px solid white;
	font-weight: bold;
}

.btn-danger {
	background-color: #26AD6E !important;
	border-radius: 10px;
	color: white !important;
	border-bottom: 1px solid white;
	font-weight: bold;
}

.form-control{
	background-color: #FFF !important;
}
.btn-login:hover{
	color: #FFF;
}

.lcb-form{
	margin: 0;
	padding: 0 !important;
	border:0;
	box-shadow: none;
	background-color: transparent !important;
}

.lc-block:not(.lc-block-alt) .btn-login{
	top:0;
	margin-top: 0px;
	right: inherit;
}

.lc-block{
	margin-top: 50px;
}

.login-content{
	background-color: #f6f7f7;
	background-image: url("background.png");
	background-repeat: repeat;
}


/**Login alignmnent*/

.lc-block{
	padding: 0px 0px 20% 0px;
	max-width: 600px;
	width: 75%;
}

#username{
	font-size: 35px;
}

@media only screen and (max-width: 500px) {
	.lc-block{
		vertical-align: top;
	}
}

@media only screen and (min-width: 1200px) {
	.btn-action-touch {
		min-height: 160px;
		min-width: 260px;
	}
}

.card-trans {
background: transparent;
box-shadow: 0px 0px 0px 0px;
}

h1, .h1, h2, .h2, h3, .h3 {
	margin-top: 1px;
	margin-bottom: 5px;
	color: #000;
}

#patient-logo {
	max-height:60px;
}

#menu-icon {
	color: #26AD6E;
}

li.logo .link-logo{
	padding: 15px 0 25px 0 !important;
}

li.logo:nth-child(2){
	padding: 15px 0 25px 0 !important;
}
#patient-logo-lg{
		max-width: 200px;
}

#messages-main .ms-block {
	padding: 23px 10px 0;
}

.panel-primary {
	border-color: #ec1c24;
}

.has-error .help-block{
	color: #cf0000 !important;
}

.md-datepicker-input-container.md-datepicker-invalid {
    border-bottom-color: rgba(0,0,0,0.12) !important;
}

.form-control:focus {
  border-color: #29AE70;
}

.input-lg-login {
	height: 60px;
	line-height: 1.3333333;
}


.h2 {
color:#cf0000;
}

#password_text{
	font-size:35px;
}

.alert-danger {
    background-color: #c81c22;
    color: #fff;
    font-size:20px;
}

.corporate
{
	background-color: #26AD6E !important;
}

.dronline-color
{
	color: #26AD6E !important;
}

.curved-borders{
	border-radius: 10px;
}

.pagination > .active > a, md-ink-bar {
	background-color: #26AD6E !important;
}

md-tabs .md-tab.md-active {
	color: #26AD6E !important;
}

.capitalize{
	text-transform: capitalize;
}

.table>thead>tr>th {
	text-transform: capitalize;
}

.smallTextSize{
	font-size: small !important;
}
.scheduleTable{
	max-height: 245px !important;
}

.scheduleTable thead th { position: sticky; top: 0; }

.normal-fix .fc-timegrid-slots > table > tbody > tr {
	height: 4rem !important;
}
.ten .fc-timegrid-slots > table > tbody > tr {
	height: 6rem !important;
}

.more-than-ten .fc-timegrid-slots > table > tbody > tr {
	height: 12rem !important;
}

.max-size .fc-timegrid-slots > table > tbody > tr {
	height: 24rem !important;
}
.gly-spin {
	-webkit-animation: spin 2s infinite linear;
	-moz-animation: spin 2s infinite linear;
	-o-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
  }
  @-moz-keyframes spin {
	0% {
	  -moz-transform: rotate(0deg);
	}
	100% {
	  -moz-transform: rotate(359deg);
	}
  }
  @-webkit-keyframes spin {
	0% {
	  -webkit-transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(359deg);
	}
  }
  @-o-keyframes spin {
	0% {
	  -o-transform: rotate(0deg);
	}
	100% {
	  -o-transform: rotate(359deg);
	}
  }
  @keyframes spin {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(359deg);
	  transform: rotate(359deg);
	}
  }

  .fg-line:not([class*=has-]):after {
    background: #26AD6E;
  }