.corporate-background{
    background-color: #00A080 !important;
}

.corporate-color{
    color: #00A080 !important;
}

.bd-callout-warning {
    border-left-color: #00A080 !important;
}

.corporate-button{
    background-color: #00A080 !important;
	border-radius: 10px;
	color: #FFF !important;
	border-bottom: 5px solid #00A080;
	font-weight: bold;
}

.opposite-color{
    color: #FFF !important;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: #00A080;
}

.fg-line:not([class*=has-]):after {
    background: #00A080 !important;
}

.form-control:focus{
    border-color: #00A080 !important;
}

:root{
    --corporate-color : #00A080;
}